body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url("https://i.postimg.cc/w3Kj72ZJ/rose-3407234-1280.jpg") center/cover no-repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 12px;
    width: 500px; /* Width of the black box */
    height: 500px; /* Height of the black box */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addressContent {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    line-height: 1.6;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.btn {
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 3px black;
    margin-top: 20px;
}

.btn:hover {
    background-color: #6a0000;
}
